name: Native image release pipeline

on:
  push:
    tags:
      - 'v*'

jobs:
#  perform-release-linux:
#    needs: create-release
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - name: Set up JDK 15
#        uses: actions/setup-java@v1
#        with:
#          java-version: 15
#      - name: Grant execute permission for gradlew
#        run: chmod +x gradlew
#      - name: Build native image with Gradle
#        run: ./gradlew zipIt
##      - name: Upload Release Asset
##        uses: actions/upload-release-asset@v1
##        env:
##          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
##        with:
##          upload_url: ${{ needs.create-release.outputs.upload_url }}
##          asset_path: ./build/dist/monstermash.zip
##          asset_name: monstermash_linux_amd64.zip
##          asset_content_type: application/zip
#      - name: Upload Release
#        uses: softprops/action-gh-release@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          files: |
#            ./build/dist/*.zip

#  perform-release-macos:
#    runs-on: macos-latest
#    needs: create-release
#    steps:
#      - uses: actions/checkout@v2
#      - name: Set up JDK 15
#        uses: actions/setup-java@v1
#        with:
#          java-version: 15
#      - name: Grant execute permission for gradlew
#        run: chmod +x gradlew
#      - name: Build native image with Gradle
#        run: ./gradlew zipExecutable
#      - name: Upload Release Asset
#        uses: actions/upload-release-asset@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          upload_url: ${{ needs.create-release.outputs.upload_url }}
#          asset_path: ./build/dist/monstermash.zip
#          asset_name: monstermash_darwin_amd64.zip
#          asset_content_type: application/zip

  perform-release-windows:
    runs-on: windows-latest
    #    needs: create-release
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build release with Gradle
        run: ./gradlew zipIt
      #      - name: Upload Release Asset
      #        uses: actions/upload-release-asset@v1
      #        env:
      #          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #        with:
      #          upload_url: ${{ needs.create-release.outputs.upload_url }}
      #          asset_path: ./build/dist/cross-compile-demo.zip
      #          asset_name: cross-compile-demo_windows_amd64.zip
      #          asset_content_type: application/zip
      - name: Upload Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            ./build/dist/*.zip
#            ./build/dist/*.exe
